*{
    background-color: rgb(230, 219, 201);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
}
.body{
    width: 70%;
}
.nodot{
    list-style-type: none;
    font-size: 28px;
}
h1,h2,h3{
 text-decoration: underline;
 font-size: 32px;
 text-align: center;
}
.ingre{
    list-style-type: none;
}
img{
    width: 400px;
    height: auto;
    margin: 10px auto 20px;
    display: block;
}
h1{
    font-size: 40px;
}
.nav{
    margin: 20px auto;
}
a:hover{
    color: rgb(255, 4, 4);
}
.justify li{
    text-align: left;
}
h2,h3{
    margin: 20px auto 10px;
}
.home{
  font-size: 36px;
  font-weight: bold;
}
.bon{
    border: 5px solid rgb(0, 128, 34);
    width: max-content;
    border-radius: 20%;
    background-color: orange;
}